<nav class="navbar navbar-light bg-light">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" [(ngModel)]="keyword" (keyup)="search()">
</nav>
<button class="btn btn-success" style="margin: 0 0 10px 0" routerLink="/customers/add">Create</button>
<div *ngIf="message">
  <p class="alert alert-info">{{message}}</p>
</div>
<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <table class="table" style="border: 1px solid dimgray;text-align: center">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody *ngFor="let customer of customers; let i = index">
      <tr>
        <th scope="row">{{i + 1}}</th>
        <td>{{customer.name}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.address}}</td>
        <td>
          <button class="btn btn-success mr-2" [routerLink]="['/customers', 'edit',customer.id]">Edit</button>
          <button class="btn btn-danger" (click)="delete(customer.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
