<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <button class="btn btn-success" (click)="showHide()">Show Hide</button>
      <button class="btn btn-success" routerLink="/products/create">Create</button>
    </ul>
    <input class="form-control mr-sm-2" type="text" placeholder="Search" (keyup)="filter($event.target.value)"
           style="width: 200px">
  </div>
</nav>
{{message}}
<div class="text text-center">
  <table class="table table-bordered">
    <thead class="thead-light">
    <tr>
      <th scope="col">Stt</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <ng-container *ngIf="show">
        <th scope="col">Image</th>
      </ng-container>
      <th scope="col">Star</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of productFilter; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <ng-container *ngIf="show">
        <td><img src="{{product.image}}" style="width: 70px"></td>
      </ng-container>
      <td>
        <app-star [star]="product.star" (clickStar)="showMessage($event)"></app-star>
      </td>
      <td>
        <button class="btn btn-success" [routerLink]="['/products', 'edit',i]">Edit</button>
        <button class="btn btn-danger" (click)="delete(i)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
